.headerContainer {
  position: relative;
  height: 100%;
  background-color: #843a43;
}

.headerSubContainer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.text {
  color: #fff;
}

.logoutButton {
  border-radius: 1rem !important;
}
