.home {
  background-color: #a7bcff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    border: 1px solid white;
    border-radius: 10px;
    width: 95%;
    height: 95%;
    display: flex;
    overflow: hidden;
  }
}

.layout-grid {
  position: absolute;
  width: 100vw;
  height: 100vh;

  .chats {
    width: 95%;
    height: 95%;
    justify-content: center;
    position: absolute;
  }
}
