.logintitle {
  display: flex;
  align-items: center;
  color: #393939;
}

.login {
  background-color: #ebebeb !important;
  color: #393939 !important;
  height: 100vh;
}

.loginButton {
  color: #efefef !important;
  background: #7a2d38;
}
